In [10]:
import boto3
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [2]:
s3_resource = boto3.resource('s3')
s3_client = boto3.client('s3')

In [3]:
data = open('USA_cars_datasets.csv', 'rb')
response = s3_resource.Bucket('capstone-bucket-john').put_object(Key='USA_cars_datasets.csv', Body=data)

In [4]:
pull = s3_client.get_object(Bucket='capstone-bucket-john', Key='USA_cars_datasets.csv')

data = pd.read_csv(pull['Body'])
data

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,2495,9200,nissan,versa,2018,clean vehicle,34553.0,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,2496,9200,nissan,versa,2018,clean vehicle,31594.0,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,2497,9200,nissan,versa,2018,clean vehicle,32557.0,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,2498,9200,nissan,versa,2018,clean vehicle,31371.0,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

In [5]:
data.dtypes

Unnamed: 0        int64
price             int64
brand            object
model            object
year              int64
title_status     object
mileage         float64
color            object
vin              object
lot               int64
state            object
country          object
condition        object
dtype: object

In [6]:
clean = data.drop('lot', axis=1)
clean = clean.drop('Unnamed: 0', axis=1)
clean = clean.drop_duplicates('vin')
clean = clean.astype({"price": float})
clean['state'] = clean['state'].apply(lambda x: x.title())
clean['country'] = clean['country'].apply(lambda x: x.strip())
clean['vin'] = clean['vin'].apply(lambda x: x.upper())
clean = clean.drop(clean[(clean['country'] == 'canada')].index)
clean = clean.drop('country', axis=1)

In [7]:
clean = clean.rename(columns={'condition' : 'hours_left'})
def clean_hours_left(x):
    if (type(x) is not int):
        if 'days' in x:
            if len(x) == 12:
                return int(x[0:2]) * 24
            else:
                return int(x[0]) * 24
        elif 'hours' in x:
            if len(x) == 13:
                return int(x[0:2])
            else:
                return int(x[0])
        else:
            return x
    else:
        return x
clean['hours_left'] = clean['hours_left'].apply(lambda x: clean_hours_left(x))

In [8]:
s3_resource.Bucket('capstone-bucket-john').put_object(Key='USA_cars_datasets_clean.csv', Body=clean.to_csv())

s3.Object(bucket_name='capstone-bucket-john', key='USA_cars_datasets_clean.csv')

In [12]:
engine = create_engine('mysql+pymysql://admin:wortwortwort@capstone-database.cyjd9mdvkojj.us-east-1.rds.amazonaws.com/capstone_database')

clean.to_sql(con=engine, name='Car_Auctions', index=False, if_exists='replace')

2488